* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.ft-size-16 {
    font-size: 16px;
}

.ft-size-24 {
    font-size: 24px;
}

.ft-size-32 {
    font-size: 32px;
}

.text-center {
    text-align: center;
}

.overflow {
    overflow: hidden;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-se-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.d-flex-sa-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d-flex-fe-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.gap-40 {
    gap: 40px;
}

.gap-48 {
    gap: 48px;
}

.gap-56 {
    gap: 56px;
}

.gap-64 {
    gap: 64px;
}

.padding-16 {
    padding: 16px;
}

.section-pad {
    padding: 16px 64px;
}

.section-gap {
    gap: 16px;
}


@media (max-width:480px) {
    .section-pad {
        padding: 16px;
    }

    .section-gap {
        gap: 16px;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .section_pad {
        padding: 16px 32px;
    }

    .section_gap {
        gap: 16px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .section_pad {
        padding: 32px 64px;
    }

    .section_gap {
        gap: 32px;
    }
}

@media (max-width:1440px) and (min-width:1025px) {
    .section-pad {
        padding: 32px 64px;
    }

    .section-gap {
        gap: 64px;
    }
}

@media (max-width:1920px) and (min-width:1441px) {
    .section-pad {
        padding: 32px 100px;
    }

    .section-gap {
        gap: 64px;
    }
}

@media (min-width:1921px) {
    .section-pad {
        /* calculation: (100% - 1920px)/2 = 50% - 960px */
        padding: 64px max(160px, calc(50% - 960px));
    }

    .section-gap {
        gap: 64px;
    }
}