body {
    background-color: whitesmoke;
}

header {
    height: 200px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

footer {
    height: 100px;
}

.content {
    max-width: 1920px;
    margin: auto;
}

.logo {
    width: 50px;
}

.pokemon-card-container {
    background-color: coral;
    height: 250px;
    width: 300px;
    border-radius: 12px;
    padding: 16px;
}