:root {
    /* Identity */
    --bg-primary: #dc0a2d;

    /* Pokemon Type */
    --bg-bug: #a7b723;
    --bg-dark: #75574c;  /* Unlicht */
    --bg-dragon: #7037ff;
    --bg-electric: #f9cf30;
    --bg-fairy: #e69eac;
    --bg-fighting: #c12239;
    --bg-fire: #f57d31;
    --bg-flying: #a891ec;
    --bg-ghost: #70559b;
    --bg-normal: #aaa67f;
    --bg-grass: #74cb48;
    --bg-ground: #dec16b;
    --bg-ice: #9ad6df;
    --bg-poison: #a43e9e;
    --bg-psychic: #fb5584;
    --bg-rock: #b69e31;
    --bg-steel: #b7b9d0;
    --bg-water: #6493eb;

    /* Greyscale */
    --dark: #212121;
    --medium: #666666;
    --light: #e0e0e0;
    --background: #efefef;
    --white: #ffffff;
}

body {
    background-color: var(--bg-primary);
    color: var(--dark);
}

a {
    color: var(--dark);
}

h1 {
    font-family:"Pokemon Solid Normal";
    font-size: 46px;
    color: var(--white);
}

.headline {
    position: relative;
}

.headline > p {
    position: absolute;
    color: var(--dark);
    font-family:"Pokemon Solid Normal";
    font-size: 48px;
    top: 4px;
    z-index: -1;
    left: -2px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px;
    gap: 16px;
    background-color: var(--white);
    max-width: 1920px;
    margin: 12px auto;
    width: calc(100% - 24px);
    border-radius: 12px;
    box-shadow: inset 0 1px 4px 0 var(--dark);
}

footer {
    margin-top: 8px;
    border-top: 1px solid var(--light);
    flex-direction: column;
    text-align: center;
}

button {
    height: 30px;
    width: 200px;
    background-color: var(--white);
    color: black;
    font-size: 16px;
    border: 1px solid var(--white);
    border-radius: 24px;
    box-shadow: 0px 0px 4px 0 var(--medium);
}

button:hover {
    background: var(--light);
    cursor: pointer;
}

.pokemon-region {
    display: flex;
    align-items: center;
    padding: 8px 32px;
    overflow-x: auto;
}

.button-region {
    min-width: 64px;
}

input {
    height: 36px;
    width: 200px;
    padding: 8px 40px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0 1px 4px 0 var(--dark);
    background-color: var(--white);
    background-image: url("./assets/icons/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 12px 8px;
    font-size: 16px;
}

.logo {
    width: 75px;
}

.little-pokemon-card {
    position: relative;
    width: clamp(275px, 100%, 300px);
    border-radius: 12px;
    padding: 16px;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    z-index: 0;
}

.little-pokemon-card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 1s;
}

.z-index {
    z-index: 2;
}

.image-pokemon {
    height: 200px;
    width: 200px;
    filter: drop-shadow(0px 0px 2px var(--dark));
}

.image-pokemon-2 {
    height: 200px;
    width: 200px;
    top: 0px;
    left: 50%;
    filter: drop-shadow(0px 0px 2px var(--dark));
    transform: translateX(-50%);
}

.ft-size-h2 {
    font-size: 32px;
}

.ft-size-p {
    font-size: 24px;
}

.type-image {
    height: 36px;
    width: 36px;
    filter: drop-shadow(0px 0px 2px var(--dark));
}

.bg-pokeball {
    position: absolute;
    opacity: 20%;
    z-index: -1;
}

.bg-pokeball-2 {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 20%;
}

.c-white {
    color: var(--white);
}

.overlay-container {
    background: var(--background);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.big-pokemon-card {
    height: 100vh;
    width: 100%;
    padding: 16px;
}

.header-overlay {
    padding: 0 16px;
}

.sub-headline {
    gap: 24px;
}

.sub-headline > a {
    border-bottom: 2px solid transparent;
}

.sub-headline > a:hover {
    cursor: pointer;
    border-bottom: 2px solid;
    transition: 225ms ease-in-out;
}

.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    min-height: 126px;
}

.evolutions {
    gap: 24px;
    min-height: 126px;
}

#pokemonInfoSection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.stat-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.progress-bar {
    width: 50%;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}

.pokemon-information {
    padding-top: 100px;
    flex-direction: column;
    height: 75%;
    background: var(--white);
    border-radius: 12px;
    box-shadow: inset 0 1px 4px 0 var(--dark);
    gap: 40px;
}

.line {
    background: var(--light);
    height: 100%;
    width: 4px;
    min-height: 37px;
}

.stats-evolutions-container {
    flex-direction: column;
}

.base-stats-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 6px;
    align-items: flex-start;
    padding: 0 24px;
    margin: 0 auto;
    font-size: 14px;
    width: 100%;
    max-width: 500px;
    min-height: 126px;
}

.image-pokemon-3 {
    height: 100px;
    width: 100px;
    filter: drop-shadow(0px 0px 2px var(--dark));
}

.image-pokemon-3:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 1s;
}

.arrow:hover, .arrow-back:hover {
    cursor: pointer;
}

.button-up {
    max-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 28px;
    right: 28px;
    background-color: #dc0a2d;
    border: none;
    box-shadow: none;
    color: transparent;
}

.button-up:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 1s;
    background-color: #dc0a2d;
}


@media (max-width:480px) {
    .headline {
        display: none;
    }
    main {
        margin: 8px;
        padding: 16px;
        width: calc(100% - 16px);
    }
    .sub-headline {
        gap: 12px;
    }
    .evolutions {
        gap: 4px;
    }
    .image-pokemon-2 {
        height: 140px;
        width: 140px;
    }
    .image-pokemon-3 {
        height: 75px;
        width: 75px;
    }
    .ft-size-h2 {
        font-size: 24px;
    }
    .ft-size-p {
        font-size: 16px;
    }
    .arrow-back {
        height: 24px;
    }
    .arrow {
        height: 30px;
    }
    .icon-evolution {
        height: 16px;
        width: 16px;
    }
    .about {
        gap: 16px;
    }
    .bg-pokeball-2 {
        height: 120px;
        width: 120px;
    }
}


@media (max-width: 600px) and (min-width: 481px) {
    .headline {
        display: none;
    }
    main {
        padding: 24px;
    }
    .ft-size-h2 {
        font-size: 28px;
    }
    .arrow {
        height: 40px;
    }
    .image-pokemon-2 {
        height: 150px;
        width: 150px;
    }
    .evolutions {
        gap: 12px;
    }
    .bg-pokeball-2 {
        height: 120px;
        width: 120px;
    }
}

@media (max-width: 768px) and (min-width: 601px) {
    .big-pokemon-card {
        padding: 16px 32px;
    }
    .header-overlay {
        padding: 0 32px;
    }
    h1 {
        font-size: 48px;
    }
    .headline > p {
        font-size: 50px;
    }
    .ft-size-h2 {
        font-size: 28px;
    }
    .image-pokemon-2 {
        height: 160px;
        width: 160px;
    }
    .bg-pokeball-2 {
        height: 160px;
        width: 160px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .big-pokemon-card {
        padding: 16px 64px;
    }
    .header-overlay {
        padding: 0 64px;
    }
    h1 {
        font-size: 64px;
    }
    .headline > p {
        font-size: 66px;
    }
    .image-pokemon-2 {
        height: 185px;
        width: 185px;
    }
    .bg-pokeball-2 {
        height: 160px;
        width: 160px;
    }
}

@media (max-width:1440px) and (min-width:1025px) {
    .big-pokemon-card {        
        padding: 16px 128px;
    }
    .header-overlay {
        padding: 8px 64px;
    }
    h1 {
        font-size: 64px;
    }
    .headline > p {
        font-size: 66px;
    }
    .bg-pokeball-2 {
        height: 180px;
        width: 180px;
    }
} 

@media (max-width:1920px) and (min-width:1441px) {                  
    .big-pokemon-card {        
        padding: 32px 160px;
    }
    .header-overlay {
        padding: 16px 128px;
    }
    h1 {
        font-size: 64px;
    }
    .headline > p {
        font-size: 66px;
    }
} 

@media (min-width:1921px) {
    .big-pokemon-card {
        /* calculation: (100% - 1920px)/2 = 50% - 960px */
        padding: 32px max(160px, calc(50% - 960px));
    }
    .header-overlay {
        padding: 32px max(160px, calc(50% - 960px));
    }
    h1 {
        font-size: 64px;
    }
    .headline > p {
        font-size: 66px;
    }
}